*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 94%;
  max-width: 1170px;
  margin: 0 auto;
}
.btn-success{
display: inline-block;
color: white;
background: green;
text-decoration: none;
padding: 10px 25px;
border-radius: 5px;
}
.btn-primary{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  
}